[user]
	name = Tin Nguyen
	email = nguyentrongtin2331@gmail.com
[core]
	excludesfile = /home/nttin/.gitignore_global
	editor = vim
[format]
	pretty = format:%h %s (%an, %ad)
[alias]
	st = status
	b = branch
	p = push
	pr = pull --rebase
	pom = pull origin master
	co = checkout
	l = log --date-order --graph --pretty=format:'%C(green)%h %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s'
	precommit = diff --cached --diff-algorithm=minimal -w
	branches = branch -a
	stashes = stash list
	unstage = reset -q HEAD --
	related = "!function git_related() { if git rev-list $1 | grep -q $2 ; then echo \"$2 is ancestor of $1\" ; elif git rev-list $2 | grep -q $1 ; then echo \"$1 is ancestor of $2\" ; else echo \"$1 unrelated to $2\" ; fi  } ; git_related $1 $2"
	hlog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
	lg = log --date-order --all --graph --format='%C(green)%h %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s'
[color]
	ui = auto
[push]
	default = simple
